#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.todo-container h1 {
  font-size: 1.5rem;
}

body {
    font-family: "Nunito Sans", sans-serif;
    background-color: hsl(0, 0%, 99%);
    color: hsl(200, 15%, 8%);
}

.dark-mode {
  background-color: hsl(207, 26%, 17%);
    color: hsl(0, 100%, 100%);
}

/* body.dark-mode {
    background-color: hsl(207, 26%, 17%);
    color: hsl(0, 100%, 100%);
}

input.dark-mode {
    background-color: hsl(209, 23%, 22%);
    color: hsl(0, 100%, 100%);
}

input {
    background-color: hsl(0, 100%, 100%);
} */